<span class="title-section">Compétences</span>

<hr>
<div>
    <mat-tab-group animationDuration="2000ms">
        <mat-tab label="Langage de programmation">
            <div>
                <button mat-stroked-button class="stroked-button" (click)="accordion.openAll()">Étendre</button>
                <button mat-stroked-button class="stroked-button" (click)="accordion.closeAll()">Réduire</button>
            </div>
            <mat-accordion class="header-panelcollabs" multi>
                <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <div>
                                <mat-icon matTooltip="Java" matTooltipPosition="right"><i class="fab fa-java"></i>
                                </mat-icon>
                                <mat-icon matTooltip="" matTooltipPosition="right"><i class=""></i>
                                </mat-icon>
                                <mat-icon matTooltip="" matTooltipPosition="right"><i class=""></i>
                                </mat-icon>
                            </div>
                        </mat-panel-title>
                        <mat-panel-description style="display: inline;">
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                                    style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%
                                </div>
                            </div>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="row formation">
                        <div class="col">J'ai commencé à développer en Java dès la première année de BTS. Il s'agit du
                            premier langage de programmation que j'ai découvert. <br>
                            Mon apprentissage sur ce langage a duré 2 ans.<br>
                            Une fois arrivé en Bac+3 j'ai continué a développer en Java grâce à mon alternance. En effet
                            l'entreprise Netbee développe des sites internet et des API en Java.<br>
                            J'ai maintenant 4 ans d'expérence dans le développement en Java.
                        </div>
                    </div>
                </mat-expansion-panel>
                <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <div>
                                <mat-icon matTooltip="JavaScript" matTooltipPosition="right">
                                    <i class="fab fa-js-square"></i>
                                </mat-icon>
                                <mat-icon matTooltip="NodeJS" matTooltipPosition="right">
                                    <i class="fab fa-node"></i>
                                </mat-icon>
                                <mat-icon matTooltip="" matTooltipPosition="right"><i class=""></i>
                                </mat-icon>
                            </div>
                        </mat-panel-title>
                        <mat-panel-description style="display: inline;">
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                                    style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%
                                </div>
                            </div>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="row formation">
                        <div class="col">
                            J'utilise actuellement le Javascript dans tous mes projets que ça soit côté Backend (API) ou Frontend. 
                            Je développe en javascript généralement pour faire des API avec la plateforme NodeJS. <br>
                            Cela fait maintenant 3 ans que je développe toutes mes API en NodeJS en JavaScript ou avec une surcouche de TypeScript. <br>
                            De plus lors du développement de certain projet j'ai dû y intégrer des services externe tels que Stripe, Firebase et l'envoi de mail grâce à un nom de domaine.<br>
                            Et pour finir je sais déployer et mettre en place une API NodeJS sur un serveur Linux (OS Debian) avec nom de domaine + certification SSL (HTTPS).
                        </div>
                    </div>
                </mat-expansion-panel>
                <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <div>
                                <mat-icon matTooltip="Angular" matTooltipPosition="right"><i class="fab fa-angular"></i>
                                </mat-icon>
                                <mat-icon matTooltip="HTML 5" matTooltipPosition="right"><i class="fab fa-html5"></i>
                                </mat-icon>
                                <mat-icon matTooltip="CSS" matTooltipPosition="right"><i class="fab fa-css3-alt"></i>
                                </mat-icon>
                            </div>
                        </mat-panel-title>
                        <mat-panel-description style="display: inline;">
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                                    style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">60%
                                </div>
                            </div>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="row formation">
                        <div class="col">
                            J'ai découvert le framework Angular qui utilise du TypeScript en Bachelor 3. Depuis cette découverte je l'utilise quelque soit le projet.<br>
                            Je ne cesse d'apprendre et d'utiliser des nouvelles fonctionnalitées du framework chaque jour. <br>
                            De plus je sais déployer un site Angular sur un serveur Linux (OS Debian) avec nom de domaine + certification SSL (HTTPS). 
                        </div>
                    </div>
                </mat-expansion-panel>
                <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <div>
                                <mat-icon matTooltip="SQL" matTooltipPosition="right">SQL</mat-icon>
                                <mat-icon matTooltip="" matTooltipPosition="right"><i class=""></i>
                                </mat-icon>
                                <mat-icon matTooltip="" matTooltipPosition="right"><i class=""></i>
                                </mat-icon>
                            </div>
                        </mat-panel-title>
                        <mat-panel-description style="display: inline;">
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                                    style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%
                                </div>
                            </div>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="row formation">
                        <div class="col">
                            J'utilise le langage SQL depuis ma première année de BTS, aujourd'hui encore j'utilise le SQL dans tout type de SGBD tels que PostgreSQL et Oracle.<br>
                            Je sais réaliser des MCD (Modèle Conceptuel de Données) en respectant les propriétés ACID (Atomicité Cohérence Isolation Durabilité) du langage SQL.<br>
                            Ainsi je sais mettre en place le SGBD PostgreSQL sur un serveur Linux (OS Debian). <br>
                            Au sein de l'entreprise j'utilise le langage SQL Oracle sans cesse, je suis donc a l'aise sur la construction de requêtes et procédures complexe. 
                        </div>
                    </div>
                </mat-expansion-panel>
                <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <div>
                                <mat-icon matTooltip="GIT" matTooltipPosition="right"><i class="fab fa-git-square"></i>
                                </mat-icon>
                                <mat-icon matTooltip="" matTooltipPosition="right"><i class=""></i>
                                </mat-icon>
                                <mat-icon matTooltip="" matTooltipPosition="right"><i class=""></i>
                                </mat-icon>
                            </div>
                        </mat-panel-title>
                        <mat-panel-description style="display: inline;">
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                                    style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">60%
                                </div>
                            </div>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="row formation">
                        <div class="col">
                            J'utilise GIT absolument sur tous mes projets personnels ou en groupe. à la différence du logiciel de versionning utilisé en entreprise (SVN). <br>
                            Cependant je sais mettre en place une arborescence GIT viable sur des projets nécessitants plusieurs équipes et des versions de production et de développement. <br>
                            Etant à l'aise avec le fonctionnement de git, je sais résoudres des conflits et fusionner des branches.
                        </div>
                    </div>
                </mat-expansion-panel>
                <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <div>
                                ReactNative
                                <!-- <mat-icon matTooltip="" matTooltipPosition="right"><i class=""></i>
                                </mat-icon>
                                <mat-icon matTooltip="" matTooltipPosition="right"><i class=""></i>
                                </mat-icon>
                                <mat-icon matTooltip="" matTooltipPosition="right"><i class=""></i>
                                </mat-icon> -->
                            </div>
                        </mat-panel-title>
                        <mat-panel-description style="display: inline;">
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                                    style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">40%
                                </div>
                            </div>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="row formation">
                        <div class="col">
                            J'ai découvert la technologie React Native au sein de la formation. 
                            Depuis 2 ans je ne cesse de développer des projets personnels.
                        </div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
            <div class="div-separator"></div>
            <div class="row">
                <div class="col">
                    <mat-card class="my-card">
                        <div class="row">
                            <div class="col" style="font-weight: bold;">Windows</div>
                            <div class="col">
                                <span>100%</span>
                            </div>
                            <div class="col">
                                <img class="icon-entity" src="./assets/icon-windows.png" />
                            </div>
                        </div>
                    </mat-card>
                </div>
                <div class="col">
                    <mat-card class="my-card">
                        <div class="row">
                            <div class="col" style="font-weight: bold;">Linux</div>
                            <div class="col">
                                <span>60% (Debian/Ubuntu)</span>
                            </div>
                            <div class="col">
                                <img class="icon-entity" src="./assets/icon-linux.png" />
                            </div>
                        </div>
                    </mat-card>
                </div>
                <div class="col">
                    <mat-card class="my-card" >
                        <div class="row">
                            <div class="col" style="font-weight: bold;">Mac Os</div>
                            <div class="col">
                                <span>30%</span>
                            </div>
                            <div class="col">
                                <img class="icon-entity mat-elevation-z8" src="./assets/icon-macos.png" style="border-radius: 35px;"/>
                            </div>
                        </div>
                    </mat-card>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-card class="my-card">
                        <div class="row">
                            <div class="col" style="font-weight: bold;">Android</div>
                            <div class="col">
                                <span>60% (Kotlin & Java)</span>
                            </div>
                            <div class="col">
                                <img class="icon-entity" src="./assets/icon-android.png" />
                            </div>
                        </div>
                    </mat-card>
                </div>
                <div class="col">
                    <mat-card class="my-card">
                        <div class="row">
                            <div class="col" style="font-weight: bold;">IOS</div>
                            <div class="col">
                                <span>5% (Swift)</span>
                            </div>
                            <div class="col">
                                <img class="icon-entity mat-elevation-z8" src="./assets/icon-ios.png" style="border-radius: 35px;"/>
                            </div>
                        </div>
                    </mat-card>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Logiciel">
            <br>
            <div>
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <mat-card class="my-card">
                                <div class="row">
                                    <div class="col" style="font-weight: bold;">Netbeans</div>
                                    <div class="col">
                                        <img class="icon-entity" src="./assets/icon-netbeans.png" />
                                    </div>
                                </div>
                            </mat-card>
                        </div>
                        <div class="col">
                            <mat-card class="my-card">
                                <div class="row">
                                    <div class="col" style="font-weight: bold;">Xampp</div>
                                    <div class="col">
                                        <img class="icon-entity" src="./assets/icon-xampp.png" />
                                    </div>
                                </div>
                            </mat-card>
                        </div>
                        <div class="col">
                            <mat-card class="my-card">
                                <div class="row">
                                    <div class="col" style="font-weight: bold;">DBeaver</div>
                                    <div class="col">
                                        <img class="icon-entity" src="./assets/icon-dbeaver.png" />
                                    </div>
                                </div>
                            </mat-card>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <mat-card class="my-card">
                                <div class="row">
                                    <div class="col" style="font-weight: bold;">Android Studio</div>
                                    <div class="col">
                                        <img class="icon-entity" src="./assets/icon-androidstudio.png" />
                                    </div>
                                </div>
                            </mat-card>
                        </div>
                        <div class="col">
                            <mat-card class="my-card">
                                <div class="row">
                                    <div class="col" style="font-weight: bold;">Unity</div>
                                    <div class="col">
                                        <img class="icon-entity" src="./assets/icon-unity.png" />
                                    </div>
                                </div>
                            </mat-card>
                        </div>
                        <div class="col">
                            <mat-card class="my-card">
                                <div class="row">
                                    <div class="col" style="font-weight: bold;">Win SCP</div>
                                    <div class="col">
                                        <img class="icon-entity" src="./assets/icon-winscp.png" />
                                    </div>
                                </div>
                            </mat-card>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <mat-card class="my-card">
                                <div class="row">
                                    <div class="col" style="font-weight: bold;">Visual Studio</div>
                                    <div class="col">
                                        <img class="icon-entity" src="./assets/icon-vs.png" />
                                    </div>
                                </div>
                            </mat-card>
                        </div>
                        <div class="col">
                            <mat-card class="my-card">
                                <div class="row">
                                    <div class="col" style="font-weight: bold; font-size: small;">Visual Studio Code</div>
                                    <div class="col">
                                        <img class="icon-entity" src="./assets/icon-vscode.png" />
                                    </div>
                                </div>
                            </mat-card>
                        </div>
                        <div class="col">
                            <mat-card class="my-card">
                                <div class="row">
                                    <div class="col" style="font-weight: bold;">Jenkins</div>
                                    <div class="col">
                                        <img class="icon-entity" src="./assets/icon-jenkins.png" />
                                    </div>
                                </div>
                            </mat-card>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <mat-card class="my-card">
                                <div class="row">
                                    <div class="col" style="font-weight: bold;">SmartSVN</div>
                                    <div class="col">
                                        <img class="icon-entity" src="./assets/icon-smartsvn.png" />
                                    </div>
                                </div>
                            </mat-card>
                        </div>
                        <div class="col">
                            <mat-card class="my-card">
                                <div class="row">
                                    <div class="col" style="font-weight: bold;">Postman</div>
                                    <div class="col">
                                        <img class="icon-entity"  style="border-radius: 52%;" src="./assets/icon-postman.png" />
                                    </div>
                                </div>
                            </mat-card>
                        </div>
                        <div class="col">
                            <mat-card class="my-card">
                                <div class="row">
                                    <div class="col" style="font-weight: bold;">Putty</div>
                                    <div class="col">
                                        <img class="icon-entity" src="./assets/icon-putty.png" />
                                    </div>
                                </div>
                            </mat-card>
                        </div>
                    </div>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>