h2 {
    text-align: left;
    margin: 16px;
    font-size: 3rem;
    color: rgb(10, 4, 4);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.icon-text {
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
}

.stroked-button {
    margin: 8px 8px 8px 0;
}

.stroked-button:hover {
    background-color: #3184FD;
}

.subtitle {
    font-weight: bold;
}

.icon-entity {
    margin-top: 10px;
    width: 65px;
    height: 65px;
}

mat-card {
    margin-bottom: 10px;
}