
.icon-text {
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
}

.stroked-button {
    margin: 8px 8px 8px 0;
}

.stroked-button:hover {
    background-color: #3184FD;
}

.subtitle {
    font-weight: bold;
}

.icon-entity {
    margin-top: 10px;
    width: 65px;
    height: 65px;
}

.my-card {
    margin-bottom: 10px;
    min-height: 150px;
}

mat-accordion {
    margin-bottom: 8px;
}

.div-separator {
    margin-bottom: 8px;
}