<h2>Expériences</h2>
<mat-divider></mat-divider>
<div>
    <button mat-stroked-button class="stroked-button" (click)="accordion.openAll()">Étendre</button>
    <button mat-stroked-button class="stroked-button" (click)="accordion.closeAll()">Réduire</button>
</div>
<mat-accordion class="header-panelcollabs" multi>
    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)">
        <mat-expansion-panel-header>
            <mat-panel-title>
                2017 - 2019
            </mat-panel-title>
            <mat-panel-description>
                Projet
            </mat-panel-description>
        </mat-expansion-panel-header>

        <div class="row formation">
            <div class="col title">Mini-Projet BTS</div>
            <div class="col option">Magasins de fruits et légumes</div>
            <div class="col">Projet de 1ère année de BTS développé sur NetBeans en Java avec une base de données en
                SQL.</div>
            <div class="col">Marseille</div>
        </div>
    </mat-expansion-panel>
    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)">
        <mat-expansion-panel-header>
            <mat-panel-title>
                2017 - 2018
            </mat-panel-title>
            <mat-panel-description>
                Stage
            </mat-panel-description>
        </mat-expansion-panel-header>

        <div class="formation">
            <div class="row">
                <div class="col title">Stage 1er année BTS</div>
                <div class="col option">Immersive Factory</div>
                <div class="col">4 semaines</div>
                <div class="col">Toulouse</div>
            </div>
            <div class="row">
                <div class="col">J’ai travaillé sur La chasse aux risques un projet en VR sous le moteur Unity (C#).
                    J’ai
                    été
                    amené à :
                    - développer des pré-configurations graphiques.
                    - réaliser les branchements des scripts.
                    - Modéliser le niveau en suivant un cahier des charges.
                    - débuguer les altérations des scripts avec l’environnement.
                </div>
            </div>
        </div>
    </mat-expansion-panel>
    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)">
        <mat-expansion-panel-header>
            <mat-panel-title>
                2018 - 2019
            </mat-panel-title>
            <mat-panel-description>
                Stage
            </mat-panel-description>
        </mat-expansion-panel-header>

        <div class="formation">
            <div class="row">
                <div class="col title">Stage 2éme année BTS</div>
                <div class="col option">Immersive Factory</div>
                <div class="col">6 semaines</div>
                <div class="col">Toulouse</div>
            </div>
            <div class="row">
                <div class="col">J’ai été amené à développer un script en C# qui aurait pour but de remplacer la texture
                    des
                    composants des projets en VR sous le moteur Unity sans à avoir à re-build les projets.
                </div>
            </div>
        </div>

    </mat-expansion-panel>
    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)">
        <mat-expansion-panel-header>
            <mat-panel-title>
                2019 - 2020
            </mat-panel-title>
            <mat-panel-description>
                Projet
            </mat-panel-description>
        </mat-expansion-panel-header>

        <div class="formation">
            <div class="row">
                <div class="col title">Projet-UF Bachelor 3</div>
                <div class="col">Ynov Campus Aix</div>
                <div class="col option">Site Administration & Appli Mobile</div>
                <div class="col" style="font-weight: bold;">Tradeoo</div>
                <div class="col">Aix-en-Provence</div>
            </div>
            <div class="row">
                <div class="col">Site en Angular JS avec une BDD en NoSQL, API en Node JS et Appli mobile en Android
                    (Java).
                </div>
            </div>
        </div>
    </mat-expansion-panel>
    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)">
        <mat-expansion-panel-header>
            <mat-panel-title>
                2019 - 2021
            </mat-panel-title>
            <mat-panel-description>
                Alternance
            </mat-panel-description>
        </mat-expansion-panel-header>

        <div class="formation">
            <div class="row">
                <div class="col title">Développeur Web et R&D</div>
                <div class="col">Netbee</div>
                <div class="col">Aix-en-Provence</div>
            </div>
            <div class="row">
                <div class="col">Les missions au cours de mes années d’alternance ont été dans des domaines différents.
                    - Évolution d’un site de 6 langues à 8 langues
                    o Refonte du mécanisme d’utilisation des langues en Java
                    o Évolution de la Base de données en SQL sur Oracle
                    - Gestion des clients
                    o Evolution des projets clients (Cahier des charges / Devis / Livraison)
                    o Migration des projets
                </div>
            </div>
        </div>
    </mat-expansion-panel>
</mat-accordion>