
.title {
    padding-bottom: 10px;
    font-weight: bold;
    font-size: medium;
    border-radius: 5px;
}

.option {
    font-style: italic;
    
    font-size: 1rem;
}

.header-panelcollabs .mat-form-field + .mat-form-field {
    flex-basis: 0;
    justify-content: space-between;
    align-items: center;
    margin-left: 8px;
}

.stroked-button {
    margin: 8px 8px 8px 0;
}

.icon-entity {
    margin-top: 10px;
    width: 65px;
    height: 65px;
    border-radius: 50%;
}