<div [class.dark-theme]="isDarkTheme">
  <mat-toolbar>
    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
      <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
      <mat-icon *ngIf="sidenav.opened">close</mat-icon>
    </button>
    <span> <img class="icon mat-elevation-z8" src="./assets/icon-gp.png" /> Portfolio</span>
    <span class="spacer"></span>
    <div class="mat-elevation-z8" style="padding: 10px; border-radius: 20px;">
      <mat-slide-toggle (click)="changeTheme()">
        <mat-icon class="darkmode"><i *ngIf="!isDarkTheme" class="fas fa-moon"></i><i *ngIf="isDarkTheme"
            class="fas fa-sun"></i></mat-icon>
      </mat-slide-toggle>
    </div>
  </mat-toolbar>

  <mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav">
      <img class="avatar mat-elevation-z8" src="./assets/profile.JPG" />
      <h2 class="name">Gaétan PATRUNO</h2>
      <p class="designation">Développeur Web, Mobile, Logiciel & IoT</p>

      <mat-divider></mat-divider>

      <span class="menu-button" matTooltip="gaetan.patruno@gmail.com">
        <mat-icon>mail</mat-icon> <a class="mailto" href="mailto:gaetan.patruno@gmail.com">envoyer un mail</a>
      </span>
      <br>
      <span class="menu-button">
        <mat-icon>home</mat-icon> Aix-en-Provence
      </span>

      <mat-divider></mat-divider>

      <button mat-button class="menu-button" [routerLink]="'formation'">
        <div>
          <mat-icon><i class="fas fa-graduation-cap"></i></mat-icon>&nbsp;
          <span>Formations</span>
        </div>
      </button>
      <button mat-button class="menu-button" [routerLink]="'experience'">
        <div>
          <mat-icon><i class="fas fa-briefcase"></i></mat-icon>&nbsp;
          <span>Expériences</span>
        </div>
      </button>
      <button mat-button class="menu-button" [routerLink]="'competence'">
        <div>
          <mat-icon><i class="fas fa-tasks"></i></mat-icon>&nbsp;
          <span>Compétences</span>
        </div>
      </button>
      <button mat-button class="menu-button" [routerLink]="'aboutme'">
        <div>
          <mat-icon><i class="fas fa-user-circle"></i></mat-icon>&nbsp;
          <span>A propos de moi</span>
        </div>
      </button>

      <mat-divider></mat-divider>

      <button mat-button class="menu-button" (click)="f1()">
        <div>
          <mat-icon><i class="far fa-file-pdf"></i></mat-icon>
          <span>CV</span>
        </div>
      </button>
      <button mat-button class="menu-button"
        (click)="redirect('https://www.linkedin.com/in/ga%C3%A9tan-patruno-6396aa174/')">
        <div>
          <mat-icon><i class="fab fa-linkedin"></i></mat-icon>
          <span>Linkedin</span>
        </div>
      </button>
      <button mat-button class="menu-button" (click)="redirect('https://github.com/gpatruno')">
        <div>
          <mat-icon><i class="fab fa-github"></i></mat-icon>
          <span>GitHub</span>
        </div>
      </button>
      <button mat-button class="menu-button" (click)="redirect('https://gitlab.com/gpatruno')">
        <div>
          <mat-icon><i class="fab fa-gitlab"></i></mat-icon>
          <span>Gitlab</span>
        </div>
      </button>
      <button mat-button class="menu-button" (click)="redirect('https://armandpat.wixsite.com/portfolio')">
        <div>
          <mat-icon><i class="fas fa-portrait"></i></mat-icon>
          <span>Portfolio (Wix)</span>
        </div>
      </button>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="content-web mat-elevation-z8">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>