<mat-toolbar>
  <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
    <mat-icon *ngIf="sidenav.opened">close</mat-icon>
  </button>
  Portfolio
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav">
    <img class="avatar mat-elevation-z8" src="./assets/profile.JPG" />

    <h2 class="name">Gaétan PATRUNO</h2>
    <p class="designation">Développeur Web, Mobile, Logiciel & IoT</p>

    <mat-divider></mat-divider>

    <span class="menu-button">
      <mat-icon>mail</mat-icon> gaetan.pat@free.fr
    </span>
    <br>
    <span class="menu-button">
      <mat-icon>phone</mat-icon> 06 52 04 99 06
    </span>
    <br>
    <span class="menu-button">
      <mat-icon>home</mat-icon> Aix-en-Provence
    </span>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" [routerLink]="'formation'">
      <mat-icon><i class="fas fa-graduation-cap"></i></mat-icon>&nbsp;
      <span>Formations</span>
    </button>
    <button mat-button class="menu-button" [routerLink]="'experience'">
      <mat-icon><i class="fas fa-briefcase"></i></mat-icon>&nbsp;
      <span>Expériences</span>
    </button>
    <button mat-button class="menu-button" [routerLink]="'competence'">
      <mat-icon><i class="fas fa-tasks"></i></mat-icon>&nbsp;
      <span>Compétences</span>
    </button>
    <button mat-button class="menu-button" [routerLink]="'aboutme'">
      <mat-icon><i class="fas fa-user-circle"></i></mat-icon>&nbsp;
      <span>A propos de moi</span>
    </button>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button">
      <mat-icon>picture_as_pdf</mat-icon>
      <span>CV</span>
    </button>
    <button mat-button class="menu-button">
      <mat-icon><i class="fab fa-linkedin"></i></mat-icon>
      <span>Linkedin</span>
    </button>
    <button mat-button class="menu-button" (click)="redirect('https://github.com/gpatruno')">
      <mat-icon><i class="fab fa-github"></i></mat-icon>
      <span>GitHub</span>
    </button>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>