mat-toolbar {
    background: #585858;
    color: white;
}

mat-sidenav {
    margin: 10px;
    width: 250px;
    border-right: none;
    background: #255D8E;
    color: white;
    border-radius: 10px;
    margin: 5px;
    padding: 15px;
    text-align: center;
}

.content-web {
    height: calc(100vh - 98px);
    border-radius: 10px;
    margin-top: 5px;
    margin-right: 10px;
    margin-left: 10px;
    padding: 15px;
    overflow: auto;
}

.menu-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;

    mat-icon {
        margin-right: 8px;
    }
}

mat-sidenav-container {
    height: calc(100vh - 65px);
}

.avatar {
    margin-top: 10px;
    width: 100px;
    height: 100px;
    border-radius: 40%;
}

.icon {
    width: 50px;
    height: 50px;
    border-radius: 10%;
    background-color: antiquewhite;
}

.name {
    margin: 0;
    margin-top: 8px;
    font-weight: normal;
}

.item {
    font: 400 20px/20px 'Work Sans', sans-serif;
}

.designation {
    margin-top: 2px;
    font-size: 0.7rem;
    color: lightgray;
}

mat-divider {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.5);
}

.mailto{
    color: white;
  }

.spacer {
    flex: 1 1 auto;
}

.darkmode {
    margin-left: 20px;
}