<span class="title-section">Formations</span>

<hr>
<div class="container"> 
    <mat-card>
        <div class="row">
            <div class="col date">2020 - 2022</div>
            <div class="col title">Mastère Informatique</div>
            <div class="col">Ynov Campus Aix</div>
            <div class="col">
                <img class="icon-entity mat-elevation-z8" src="./assets/icon-ynov.png" />
            </div>
        </div>
        <div class="row">
            <div class="col option">Développement Logiciel, Mobile et IoT</div>
            <div class="col" style="font-weight: bold;">En cours</div>
            <div class="col">Aix-en-Provence</div>
            <div class="col">
                <a href="https://www.ynov.com/formation/ynov-masteres/expert-developpement-mobile-iot/">Ynov Campus Mastère</a>
            </div>
        </div>
    </mat-card>
    <br>
    <mat-card>
        <div class="row">
            <div class="col date">2019 - 2020</div>
            <div class="col title">Bachelor 3 Informatique</div>
            <div class="col">Ynov Campus Aix</div>
            <div class="col">
                <img class="icon-entity mat-elevation-z8" src="./assets/icon-ynov.png" />
            </div>
        </div>
        <div class="row">
            <div class="col option">Option Web & Mobile</div>
            <div class="col" style="font-weight: bold;">Obtenu</div>
            <div class="col">Aix-en-Provence</div>
            <div class="col">
                <a href="https://www.ynov.com/formation/bachelors/informatique/">Ynov Campus Bachelor 3</a>
            </div>
        </div>
    </mat-card>
    <br>
    <mat-card>
        <div class="row">
            <div class="col date">2017 - 2019</div>
            <div class="col title" matTooltip="BTS Service Informatique Organisation">BTS SIO</div>
            <div class="col">Lycée Charles Péguy</div>
            <div class="col">
                <img class="icon-small mat-elevation-z8" src="./assets/icon-charles.jpg" />
            </div>
        </div>
        <div class="row">
            <div class="col option">Option solutions logicielles et applications</div>
            <div class="col" style="font-weight: bold;">Obtenu</div>
            <div class="col">Marseille</div>
            <div class="col">
                <a href="https://charlespeguymarseille.com/enseignement-superieur/le-bts-sio-services-informatiques-aux-organisations/">Formation BTS SIO</a>
            </div>
        </div>
    </mat-card>
    <br>
    <mat-card>
        <div class="row">
            <div class="col date">2016 - 2017</div>
            <div class="col title" matTooltip="Bac Sciences et Technologies de l’Industrie et du Développement Durable">
                Bac STI2D</div>
            <div class="col">Lycée Don Bosco</div>
            <div class="col">
                <img class="icon-small mat-elevation-z8" src="./assets/icon-db.png" />
            </div>
        </div>
        <div class="row">
            <div class="col option">Option Système d’Information et Numérique</div>
            <div class="col" style="font-weight: bold;">Mention Bien</div>
            <div class="col">Marseille</div>
            <div class="col">
                <a href="https://donbosco-marseille.fr/accueil/formations/les-formations-generales/">Lycée Don Bosco BAC STI2D</a>
            </div>
        </div>
    </mat-card>
</div>