
.title {
    padding-bottom: 10px;
    font-weight: bold;
    font-size: medium;
    border-radius: 5px;
}

.option {
    font-style: italic;
    font-size: 0.85rem;
}

.icon-entity {
    margin-bottom: 5px;
    width: 75px;
    height: 35px;
    border-radius: 5%;
}

.icon-small {
    margin-bottom: 5px;
    width: 55px;
    height: 55px;
    border-radius: 5%;
}

mat-card {
    margin-top: 20px;
}